numpy
langchain
transformers
langchain_huggingface
accelerate
pyyaml
tqdm
matplotlib
seaborn
sentencepiece
protobuf
wandb
isort
black
openai
datasets
pydantic-settings
gurobipy
scipy
streamlit
inspect-ai